

<div class="project-details">
  <h2><%= projectInfo.project_title %></h2>

  <p><strong>Skills Required:</strong> <%= projectInfo.project_skills %></p>
  <p><strong>Expertise Level:</strong> <%= projectInfo.project_expertise_level %></p>
  <p><strong>Status:</strong> <%= projectInfo.project_status %></p>
  <p><strong>Description:</strong> <%= projectInfo.project_description %></p>
  <p><strong>Posted On:</strong> <%= projectInfo.created_at.toDateString() %></p>
  <hr>
  <h3>Client Information</h3>
  <p><strong>Name:</strong> <%= projectClient.name %></p>
  <p><strong>Email:</strong> <%= client12.client_email %></p>

  <a href=">" class="btn btn-primary">Apply for this Project</a>
</div>





